In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nyc_train = pd.read_csv("Taxifare_train.csv",nrows=2000000)
nyc_train.head()

In [18]:
nyc_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999986 entries, 0 to 1999985
Data columns (total 10 columns):
Unnamed: 0         int64
fare_amount        float64
passenger_count    int64
day                int64
month              int64
year               int64
hour               int64
minute             int64
second             int64
Distance           float64
dtypes: float64(2), int64(8)
memory usage: 152.6 MB

In [ ]:
nyc_train.isnull().sum()

In [ ]:
nyc_train[nyc_train.isnull().any(axis = 1)]

In [ ]:
nyc_train.dropna(axis = 0,inplace = True)

In [ ]:
nyc_train.drop('key',axis = 1,inplace = True)

In [ ]:
nyc_train.pickup_datetime = pd.to_datetime(nyc_train.pickup_datetime)
nyc_train.info()

In [ ]:
import datetime,datetime as dt    #from datetime import datetime as dt

In [ ]:
#nyc_train['pickup_datetime'].dt.day

In [ ]:
nyc_train['day'] = nyc_train['pickup_datetime'].dt.day

In [ ]:
nyc_train['month'] = nyc_train['pickup_datetime'].dt.month

In [ ]:
nyc_train['year'] = nyc_train['pickup_datetime'].dt.year

In [ ]:
nyc_train['hour'] = nyc_train['pickup_datetime'].dt.hour

In [ ]:
nyc_train['minute'] = nyc_train['pickup_datetime'].dt.minute

In [ ]:
nyc_train['second'] = nyc_train['pickup_datetime'].dt.second

In [ ]:
nyc_train.reset_index(inplace=True)
nyc_train.drop("index", inplace=True, axis=1)

In [ ]:
#for i in range(len(nyc_train.pickup_latitude)):
    #pick = pd.DataFrame({'pick': (nyc_train.pickup_longitude[i],nyc_train.pickup_latitude[i])})
   # drop = pd.DataFrame({'drop': (nyc_train.dropoff_longitude[i],nyc_train.dropoff_latitude[i])})
   # drop

In [ ]:
temp = []

In [ ]:
from haversine import haversine
for i in range(len(nyc_train.pickup_latitude)):
     temp.append(haversine((nyc_train.pickup_latitude[i], nyc_train.pickup_longitude[i]),
                     (nyc_train.dropoff_latitude[i], nyc_train.dropoff_longitude[i])))

In [ ]:
temp

In [ ]:
nyc_train['Distance'] = pd.DataFrame(temp)
nyc_train.head()

In [ ]:
nyc_train.drop('pickup_datetime',axis = 1,inplace = True)

In [ ]:
nyc_train.drop('pickup_longitude',axis = 1,inplace = True)

In [ ]:
nyc_train.drop('pickup_latitude',axis = 1,inplace = True)

In [ ]:
nyc_train.drop('dropoff_longitude',axis = 1,inplace = True)

In [ ]:
nyc_train.drop('dropoff_latitude',axis = 1,inplace = True)

In [ ]:
nyc_train.to_csv("NYC.csv")

In [2]:
import pandas as pd
import numpy as np

In [3]:
nyc_train = pd.read_csv('NYC.csv')
nyc_train.head()

,Unnamed: 0,fare_amount,passenger_count,day,month,year,hour,minute,second,Distance
0,0,4.5,1,15,6,2009,17,26,21,1.030765
1,1,16.9,1,5,1,2010,16,52,16,8.450145
2,2,5.7,2,18,8,2011,0,35,0,1.389527
3,3,7.7,1,21,4,2012,4,30,42,2.799274
4,4,5.3,1,9,3,2010,7,51,0,1.999160

In [4]:
x = nyc_train.iloc[:,2:]

In [5]:
y = nyc_train.iloc[:,1]

In [6]:
y.head()

0     4.5
1    16.9
2     5.7
3     7.7
4     5.3
Name: fare_amount, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.25,random_state=0)
x_train.head()

         passenger_count  day  month  year  hour  minute  second   Distance
1788924                1    8     10  2009     8      46       1   0.700609
729124                 1    2      4  2012    22       2       0   1.451246
409306                 4   14     11  2009    23      42      56   1.533272
1548144                1   29      3  2011     8      21       0   0.000000
1770555                1   19     10  2013    23      17       0  19.119355

In [8]:
#x_test

In [9]:
#from sklearn.neighbors import KNeighborsRegressor
#from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
#from xgboost import XGBRegressor
#fare = KNeighborsRegressor(n_neighbors = 5)
#fare1 = DecisionTreeRegressor(max_depth = 5)
fare2 = RandomForestRegressor(max_depth= 5)
#fare3 = XGBRegressor()

In [10]:
#from sklearn.linear_model import LinearRegression
#taxi = LinearRegression()

#fare.fit(x_train,y_train)
#fare1.fit(x_train,y_train)
fare2.fit(x_train,y_train)
#fare3.fit(x_train,y_train)

/home/dru_6/.local/lib/python2.7/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [11]:
#y_pred = fare.predict(x_test)
#y_pred1 = fare1.predict(x_test)
y_pred2 = fare2.predict(x_test)
#y_pred3 = fare3.predict(x_test)

In [12]:
from sklearn.metrics import r2_score

In [13]:
r2_score(y_test,y_pred2)

0.7130545084673802

In [14]:
x_train.iloc[0,:]

passenger_count       1.000000
day                   8.000000
month                10.000000
year               2009.000000
hour                  8.000000
minute               46.000000
second                1.000000
Distance              0.700609
Name: 1788924, dtype: float64

In [15]:
x_train.columns

Index([u'passenger_count', u'day', u'month', u'year', u'hour', u'minute',
       u'second', u'Distance'],
      dtype='object')

In [16]:
fare2.predict([[1,5,1,2010,16,52,16,8.450145]])

array([20.94106286])