## Importing required libraries

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

## Model forming

In [14]:
# Read data in a variable
model_data = pd.read_csv("new_data.csv")
model_data.head()

,Unnamed: 0,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,...,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Non-Travel,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_No,OverTime_Yes,Attrition_No,Attrition_Yes
0,0,32,10,3,4,55,3,2,4,1,...,0,0,0,0,0,1,1,0,1,0
1,1,47,14,4,4,42,3,2,1,2,...,0,0,0,0,0,1,1,0,1,0
2,2,40,5,4,4,48,2,3,1,5,...,0,0,0,0,1,0,0,1,1,0
3,3,41,10,4,2,73,2,5,4,3,...,0,0,0,0,0,1,1,0,1,0
4,4,60,16,4,1,84,3,2,1,8,...,0,0,0,0,0,1,1,0,1,0

In [15]:
# Forming input data to form the model
x = model_data[['EmpEnvironmentSatisfaction','EmpLastSalaryHikePercent','EmpWorkLifeBalance']]

In [16]:
# Forming output data to form the model
y = model_data['PerformanceRating']

In [17]:
# Splitting the data into train and test data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [18]:
# Applying suitable algorithm to check for model accuracy
random = DecisionTreeClassifier(max_depth = 3)
random.fit(x_train,y_train)
random_predict = random.predict(x_test)
accuracy_score(random_predict,y_test)

0.825

In [19]:
# Testing the model by input
random.predict([[3,22,3]])

array([4])